<div class="W-gadget W-gadget-number{{#if meta.failed}} w-failed{{/if}}">
    <header>
        <div class="w-stats">
            <span>First: <strong>{{currency}}{{first}}</strong></span>
            <span>Latest: <strong>{{currency}}{{latest}}</strong></span>
            <span>Change: <strong>{{currency}}{{diff}}</strong></span>
            <span>Time: <strong>about {{time}}</strong></span>
        </div>
        <div class="JS-settings"></div>
        <div class="w-title-text">
            <h1>{{title}}</h1>
            <div class="w-meta"><a href="{{url}}" target="_blank">{{url}}</a></div>
        </div>
        <div class="w-format"></div>
    </header>
    <div class="w-data-container">
        <div class="w-flot"></div>
        <div class="w-tooltip"></div>
    </div>
</div>
