<div class="W-gadget W-gadget-string{{#if meta.failed}} w-failed{{/if}}">
    <header>
        <div class="JS-settings"></div>
        <h1>{{meta.title}}</h1>
        <div class="w-meta"><a href="{{meta.url}}" target="_blank">{{meta.url}}</a></div>
        <div class="w-format"></div>
    </header>
    <ul>
        {{#each set.data}}
        <li>{{date asof}}: <strong>{{value}}</strong></li>
        {{/each}}
    </ul>
</div>
