<div class="W-settings {{#if failed}} w-failed{{/if}}">
    <img src="/images/arrow_expand.svg" class="svg W-icon-arrow_expand" alt="Settings" />
    <img src="/images/icon_cogs.svg" class="svg W-icon-cogs" alt="Settings" />
    <div class="w-content">
        <form>
            <header>Settings</header>
            <label class="w-title">
                <span>Name</span>
                <input type="text" name="title" value="{{title}}" required>
            </label>
            <label class="w-url">
                <span>URL</span>
                <input type="url" name="url" value="{{url}}" title="You need to supply a valid URL to scrape" required>
            </label>
            <label class="w-selector">
                <span>Selector</span>
                <input type="text" name="css" value="{{css}}" title="You need to supply a CSS selector" required>
            </label>
            <div class="w-result">
                {{#if failed}}
                Scrapping failed
                {{else}}
                {{latest_result}}
                {{/if}}
            </div>
            <div class="w-buttons">
                <input type="submit" name="test" value="Test" disabled>
                <input type="submit" name="save" value="Save" disabled>
            </div>
        </form>
    </div>
</div>
