<div class="W-task-list-container W-task-list">
    {{#each tasks}}
    <div class="w-listitem" data-id="{{task_id}}">
        <div class="w-title">{{title}}</div>
        <div class="w-latest">{{value}}</div>
        <div class="w-url"><a href="{{url}}" target="_blank">{{url}}</a></div>
        <div class="w-delete">X</div>
    </div>
    {{/each}}
</div>
